body {
    padding: 0px;
    margin: 0px;
    background-image: url("../img/background.png");
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
p, ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
p, a, input, input::placeholder {
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'chaviera';
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: #1D1D1B;
}
.x-container {
    max-width: 1400px;
    margin: auto;
}
/* hedaer */
.headerTop {
    background: #1D1D1B;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    text-align: center;
    padding: 12px 0px;
    padding-top: 13px;
}
.headerTop p {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.headerBot__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul {
    display: flex;
}
.menu ul li {
    margin-right: 20px;
}
.menu ul a {
    color: #231B33;    
    font-size: 18px;    
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    transition: 0.3s;
    position: relative;
    transition-delay: 0.3s;
}
.menu ul a:hover {
    color: #FFD28F;
}
.menu ul a:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    background: #FFD28F;
    bottom: -5px;
    transition: 0.3s;
    left: 50%;
    transform: translateX(-50%);
}
.menu ul a:hover:before {
    width: 100%;
}
.icons ul li:hover img {
    filter: invert(1);
}
.icons ul li:hover:before {
    transform: scale(1);
}
.icons ul li img {
    transition: 0.3s;
    transition-delay: 0.1s;
}
.icons ul li:before {
    content: '';
    position: absolute;
    width: 46px;
    height: 46px;
    background: #141414;
    left: -8px;
    top: -8px;
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(0);
}
.icons ul li {
    margin-left: 20px;
    position: relative;
}
.icons ul {
    display: flex;
}
.icons ul a img {
    width: 30px;
    height: 30px;
    display: block;
}
.icons ul a {
    display: block;
    position: relative;
}
.icons ul a mark {
    position: absolute;
    background: #FFD28F;
    width: 20px;
    height: 20px;
    border-radius: 20px 20px 20px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #231B33;
    font-size: 12px;
    font-weight: 500;
    top: -3px;
    right: -7px;
}
.headerBot__left {
    width: calc(50% - 44px);
}
.headerBot__right {
    width: calc(50% - 44px);
    display: flex;
    justify-content: flex-end;
}
.headerBot {
    padding: 13px 0px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.preload {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preload:before {
    content: '';
    width: 50%;
    height: 100%;
    top:0;
    left:0;
    background: #1D1D1B;
    transition: 1s;
    position: absolute;
}
.preload:after {
    content: '';
    width: 50%;
    height: 100%;
    top:0;
    right:0;
    background: #1D1D1B;
    transition: 1s;
    position: absolute;
}

.preload svg {
    display: block;
    width: 250px;
    height: 250px;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.preload svg path {
    fill: transparent;
    stroke: white;
    stroke-width: .5;
}

.preload svg path#letrasMP {
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
    transition: 1.5s;
}
.preload svg path#letrasC {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
}
.preload svg path.pathFillletter {
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
}
.preload svg path.active {
    stroke-dashoffset: 0 !important;
    transition: 1.5s;
}
.preload svg path.activeback {
    fill: white;
}
.preload.active {
    pointer-events: none;
}
.preload.active:before {
    transform: translateX(-120%);
}
.preload.active:after {
    transform: translateX(120%);
}
.preload.active svg {
    opacity: 0;
}

.banner {
    margin-top: 150px;
    height: calc(100% - 150px);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.banner__title {
    width: 100%;
}
.banner__title h1 b {
    font-size: 90px;
    font-weight: normal;
}
.banner__title {
    width: 100%;
    position: relative;
}
.banner__title h1 {
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    transform: translateY(-20px);
    transition: 0.3s;
    opacity: 0;
}
.banner__title:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 1px;
    background: white;
    top: 160px;
    /* calc(50vw - 700px + 170px) */
    transition: 0.3s;
    transition-delay: 0.3s;
}
.banner__title p {
    color: white;
    font-size: 18px;
    max-width: 300px;
    margin-top: 50px;
    transform: translateY(-20px);
    transition: 0.3s;
    opacity: 0;
    transition-delay: 0.6s;
}
.banner__title a {
    display: block;
    max-width: 150px;
    margin-top: 30px;
    transform: translateY(-20px);
    transition: 0.3s;
    opacity: 0;
    transition-delay: 0.6s;
}

.banner__title.active h1, .banner__title.active p, .banner__title.active a {    
    transform: none;
    opacity: 1;
}
.banner__title.active:before {
    width: calc(50vw - 700px + 170px);
}

.boxes {
    padding: 60px 0px;
}
.boxmultiple {
    display: flex;
    justify-content: space-between;
}
.box {
    width: calc(33.33% - 10px);
}
.box img {
    width: 100%;
}
.boxContent {
    border-radius: 20px;
    background: #FFF4E3;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
    height: 100%;
    padding: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.boxContent__content h2 {
    font-size: 40px;
    text-align: center;
    font-weight: normal;
    line-height: 50px;
    text-transform: uppercase;
}
.boxContent__content h2 b {
    font-size: 70px;
    margin-top: 24px;
    display: block;
}
.boxContent__content p {
    text-align: center;
    font-size: 20px;
    max-width: 280px;
    display: block;
    margin: auto;
}
.boxContent__content a {
    display: block;
    max-width: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.linea span {
    width: 5px;
    height: 5px;
    background: #1D1D1B;
    display: block;
    margin: auto;
    border-radius: 50%;
}
.linea {
    position: relative;
    display: block;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.linea:before {
    content: '';
    width: calc(50% - 37px);
    height: 1px;
    position: absolute;
    left: 0px;
    top: 2px;
    background: #1D1D1B;
    opacity: 0.4;
}

.linea:after {
    content: '';
    width: calc(50% - 37px);
    height: 1px;
    position: absolute;
    right: 0px;
    top: 2px;
    background: #1D1D1B;
    opacity: 0.4;
}

.checkout {
    position: relative;
    margin-top: 150px;
}
.checkout .title h1 {
    font-family: 'Poppins';
    font-size: 50px;
}
.checkout .title:before {
    content: '';
    width: calc(50vw - 600px - 25px);
    background: black;
    height: 2px;
    position: absolute;
    left: 0px;
    top: 95px;
}
.woocommerce-breadcrumb {
    margin: 0 0 1em;
    padding: 0;
    font-size: .92em;
    color: #767676;
    border-bottom: solid 1px #cfcfcf;
    color: #8E8E8E !important;
    padding-bottom: 10px !important;
    margin-bottom: 30px !important;
}
.woocommerce-breadcrumb a {
    color: black !important;
}
.woocommerce-breadcrumb i {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-bottom: solid 1px #B89157;
    border-right: solid 1px #B89157;
    transform: rotate(-45deg);
    position: relative;
    top: -1px;
    margin: 0px 6px;
}

.cartItem {
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0,0,0,0.07);
    margin-bottom: 15px;
    align-items: center;
}
.cartItem .carItem__imagen img {
    width: 165px;
    height: 135px;
    object-fit: cover;
    display: block;
}
.cartItem .carItem__content {
    position: relative;
    width: calc(100% - 135px);
    box-sizing: border-box;
    padding: 13px;
    padding-left: 26px;
}
.cartItem .carItem__content .delete {
    position: absolute;
    right: 0px;
    width: 41px;
    height: 37px;
    background: black;
    border-bottom-left-radius: 22px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartItem .carItem__content .delete svg {
    display: block;
    width: 16px;
    height: 16px;
    position: relative;
    top: -2px;
}

.cartItem .carItem__content .content h3 {
    font-family: 'Poppins';
    font-size: 16px;
}
.cartItem .carItem__content .content p {
    color: #6F6F6F;
    font-size: 12px;
}
.cartItem .carItem__content .content .price {
    font-size: 14px;
    font-weight: 700;
}
.cartItem .carItem__content .content .spinner {
    max-width: 120px;
    margin-top: 10px;
}
.cartItem .carItem__content .content .spinner {
    display: flex;
    align-items: center;
    border: solid 1px black;
    border-radius: 15px;
    padding: 4px 8px;
    background: white;
}
.cartItem .carItem__content .content .spinner div {
    cursor: pointer;
    width: 20px;
    text-align: center;
}
.cartItem .carItem__content .content .spinner div.quantity {
    float: none !important;
    margin: 0px !important;
    width: 80px;
}
.cartItem .carItem__content .content .spinner input {
    text-align: center !important;
    width: 80px !important;
    border: none;
    padding: 0px;
}
.checkoutflex {
    display: flex;
    justify-content: space-between;    
    align-items: flex-start;
}
.checkoutflex__right {
    width: 450px;
    flex: none;
}
.checkoutflex__left {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
    padding: 35px;
    box-sizing: border-box;
    width: calc(100% - 470px);
}
.checkoutflex__right h2 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Poppins';
    margin-bottom: 5px;
}
.checkoutflex__right .checkoutproductos{
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
    padding: 35px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.checkoutflex__right .checkoutresumen{
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
    padding: 35px;
    box-sizing: border-box;
}

.tableresumenitem .data {
    font-weight: 700;
}
.tableresumenitem:last-child {
    border: none;
}
.tableresumenitem {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.10);
    padding: 10px 0px;
}

.mybrandcrouns ul li.active {
    background: black;
    color: white;
    font-weight: 700;
}
.mybrandcrouns ul:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    bottom: 25px;
    z-index: -1;
}
.mybrandcrouns ul li {
    border: solid 1px black;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0px 0px 0px 10px white;
    background: white;
    font-weight: 700;
}
.mybrandcrouns ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.datos h2:before {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: black;
    bottom: 25px;
    left: 0px;
}
.datos h2 {
    padding-left: 40px;
    font-size: 35px;
    font-family: 'Poppins';
    position: relative;
}
.datos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
label.typeCheckbox p {
    font-size: 14px;
}
label.typeCheckbox input {
    margin-right: 5px;
}
label.typeCheckbox {
    display: flex;
    align-items: center;
}
.formrow {
    margin-bottom: 15px;
}
.formrow input::placeholder {
    font-size: 16px;
    color: black;
}
.formrow input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid #000;
    font-size: 16px;
    padding: 6px 15px;
}
.formrow.s2lines input {
    width: calc(50% - 5px);
}
.formrow.s2lines {
    display: flex;
    justify-content: space-between;
}
.littetitle h3 {
    font-family: 'Poppins';
    font-size: 14px;
    margin-bottom: 10px;
}

.checkboxeds label {
    margin-right: 10px;
}
.checkboxeds {
    display: flex;
    width: 220px;
}
.flexxforms {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputssays input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid #000;
    font-size: 14px;
    padding: 6px 15px;
}
.inputssays {
    width: calc(100% - 230px);
}
.simplforms {
    margin-top: 20px;
}

.simplebutton {
    margin-top: 30px;
}
.simplebutton .btn {
    width: 100%;
    color: white;
    background: black;
    font-size: 16px;
}
.message__content {
    border-radius: 20px;
    border: 1px solid #E2C9D4;
    background: #F2E7EC;
    display: flex;
    align-items: center;
    color: #745C67;
    font-size: 12px;
    padding: 4px 10px;
    box-sizing: border-box;
    margin: 10px 0px;
}
.message__content img {
    width: 20px;
    margin-right: 5px;
}